@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #18172c;
    width: 100%;
    background-image: url(img/2x/Ativo\ 4@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18172c;
    align-items: center;
    height: 100px;
    box-shadow: 10px 5px 5px black;
    border-top: 2px solid #7cb928;
}

ul{
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

li{
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    transition: 0.5s;
}

li:hover{
    border-bottom: 1px solid #7cb928;
}

header{
    width: 100%;
    max-width: 1170px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

address{
    max-width: 47%;
}

#nome_completo{
    font-size: 26px;
    font-weight: bold;
}

#descricao{
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
    max-width: 72%;
}

.linha{
    height: 60px;   
    width: 1px;
    background-color: white;
    margin: 0px 20px;
}

.content_de_icon_do_portfolio{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}    

.icone_portfolio{
    background-color: #7cb928;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endereco-cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon-header{
    height: 25px;
    margin-bottom: 8px;
}

.icon-header path{
    fill: #7cb928;   
}

.icon-header-branco{
    height: 25px;
}

.icon-header-branco path, rect{
    fill: white ;
}

h3{
    font-size:16px;
    font-weight: 200;
    font-style: italic;
    display: flex;
    flex-direction:row;
}

a{
    text-decoration: none;
}

.profile-title{
    display: flex;
    min-width: 200px;
    height: 90px;
    margin-top: 20px;
    align-items: center;
}

.circle{
    width: 60px;
    height: 60px;
    border: 1px solid #7cb928;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.topic-icons{
    width: 30px;
}

.topic-icons path{
    fill: #7cb928
}

h2{
    align-self: center;
    font-size: 22pt;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center
}

.contato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:start;
    justify-self: flex-start;
    width: 100%;
    max-width: 230px;
}

#e-mail{
    margin-bottom: 2px;
    height: 5px;
}

.linha-de-titulos{
    display: block;
    height: 1px;
    width: 70%;
    max-width: 1170px;
    background-color: white;
    margin: 0px 0px 25px 0px;
}

#apresentacao{
    justify-content: left;
    width: 80%;
    max-width: 1170px;
    align-self: center;
    text-align: justify;
}

.projetos-title{
    display: flex;
    min-width: 200px;
    height: 90px;
    margin-top: 50px;
    align-items: center;
}

.content-slider{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.project-content{
    width: 1170px;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
}

.project{
    width: 370px;
    min-width: 370px;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(36 35 63 / 85%);;
    box-shadow: 3px 5px 8px 7px rgb(0 0 0 / 20%);
    margin: 0px 12px ;
    display: flex;
    color: #7cb928;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    padding: 25px;
    padding-left: 35px;
}

.project h4{
    font-size: 15px;
    text-transform: uppercase;
}

.project section{
    margin-bottom: 10px;
}

.nome-do-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #7cb928;
    height: 45px;
    padding: 10px;
    border-radius: 20px;
    align-self: center;
}

.botao-nav{
    width:750px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

#prev-btn ,#next-btn{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: rgb(255 255 255 / 20%);
    transition: 0.5s;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#next-btn:hover {
    background-color: #7cb928;
}

#prev-btn:hover {
    background-color: #7cb928;
}

.setas{
    width: 15px;
    height: 15px;
    fill: white;
}

i.far {
    margin-right: 10px;
}

.tecnologias-container{
    width: 25px;
    height: 25px;
    border: 1px solid #7cb928;
    background-color: #7cb928;
    border-radius: 50px;
}

.tecnologias{
    fill: #7cb928;
    width: 20px;
    margin-top: 5px;
}

.cta{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7cb928;
    border-radius: 10px;
    z-index: 4;
    transition: 1s;
    text-transform: uppercase;
}

.cta:hover{
    background-color: #7cb928;
}

.link{
    z-index: 5;
}

.destaque{
    text-transform: uppercase;
    color: #7cb928;
    font-size: 12px;
}

.texto{
    text-align: justify;
    font-size: 14px;
}

/* Aqui começa o css do footer */
footer{
    width: 100%;
    height: 250px;
    background-color: rgb(24 23 44 / 80%);
    margin-top: 20px;
    box-shadow: 3px 5px 8px 7px rgb(0 0 0 / 20%);
}